app2/src/main/mule/app2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c633005d-9534-4f44-930d-328efe99b416" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="app2Flow" doc:id="e32c9298-e6b4-419e-b3fa-ef1a69242a0c" >
		<http:listener doc:name="Listener" doc:id="77b8f6cc-dba1-4777-838b-df57f68c281e" config-ref="HTTP_Listener_config" path="/app21"/>
		<set-payload value="#['message from app2']" doc:name="Set Payload" doc:id="f3071cc3-5ca6-47bf-9f2a-3a641c6e4155" />
	</flow>
</mule>
